# Секрети
.env
*.json

# Віртуальне середовище (це гігабайти зайвих файлів)
venv/
env/

# Кеш Python та налаштування VS Code
__pycache__/
.vscode/
webhook_setup.
db_migration.py

# Локальні скрипти автоматизації Windows, які не потрібні в хмарі
*.cmd
*.ps1